@charset "utf-8";

/* CSS Document */

@font-face {
    font-family: 'GEFLOW';
    src: url('../fonts/GE_Flow_Regular.otf');
    font-weight: normal!important;
    font-style: normal;
}

@font-face {
    font-family: 'greeta';
    src: url(../fonts/Greta_Arabic_Regular.otf);
    src: url("../fonts/Greta_Arabic_Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Greta_Arabic_Regular.woff") format('woff'), url("../fonts/Greta_Arabic_Regular.ttf") format('truetype'), url("../fonts/Greta_Arabic_Regular.svg") format('svg');
    font-weight: normal;
    font-style: normal;
}

html .ls-direction-fix,
body .ls-direction-fix,
#ls-global .ls-direction-fix {
    direction: rtl!important
}


/*************************
*******Typography******
**************************/

body {
    direction: rtl!important;
    background: #fff;
    font: normal 14px/20px 'greeta', sans-serif;
}

ul {
    list-style: none;
}

a:hover,
a:focus {
    text-decoration: none;
}
a{
    transition: .2s!important
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: 'greeta', sans-serif;
}

p {
    text-align: justify;
    color: #555;
    font-size: 16px
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

h4 {
    font-size: 16px;
}

.breadcrumb>.active {
    font-size: 16px
}

.border_radius {
    border-radius: 4px;
}

input[type="submit"] {
    height: inherit;
    width: inherit;
    border: none;
}

.form-control,
.form-control:focus {
    box-shadow: none;
}

ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a,
a:hover,
a:focus,
button:focus,
button:active {
    outline: none;
    text-decoration: none;
    color: inherit;
}

a {
    color: #262626;
}

button {
    transition: .5s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #484848;
    border-color: #484848;
}

.top15 {
    margin-top: 15px;
}

.padding {
    padding: 40px 0
}

.btn-simple {
    padding: 0px 17px;
    border-radius: 0;
    border: none;
    background: #2098d1;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 0px;
    height: 35px;
    line-height: 35px;
    min-width: 100px;
    font-size: 16px
}

.btn-simple.hvr-shutter-in-vertical:before {
    background: #2098d1;
    border-radius: 0px
}

.hvr-shutter-out-horizontal:before {
    background: #484848
}


/*start header*/

#sd-header {
    background-color: #243c4f;
    position: relative;
    width: 100%;
    z-index: 101;
}

.sd-transparent-bg {
    background: none !important;
    position: absolute !important;
}

.sd-with-transparent-bg .sd-blog-page {
    margin-top: 0 !important;
}


/* header top */

.sd-header-top {
    background-color: #243c4f;
    border-bottom: 1px solid #2e495f;
    line-height: 45px;
    width: 100%;
}


/* header top left options */

.sd-header-left-options {
    float: right;
    line-height: 45px;
}

.sd-top-quote {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.sd-header-social {
    float: left;
    font-size: 14px;
}

.sd-header-social a {
    border-right: 1px solid #2e495f;
    color: #fff;
    display: block;
    float: left;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 45px;
}

.sd-header-social>a:last-child {
    /*border: none;*/
}

.sd-header-social address {
    display: inline-block;
    float: right;
    font-style: normal;
}

.sd-header-social .sd-header-email,
.sd-header-social .sd-header-phone {
    font-weight: 400;
    padding: 0 10px;
    width: auto;
}

.sd-header-social .sd-header-email i {
    padding-left: 5px;
}

.sd-header-social a:hover,
.sd-header-social a:hover i {
    color: #fff;
}

.sd-header-social a:hover i {
    background: none;
}

.sd-header-social .sd-header-phone {
    background-color: #2e495f;
    color: #fff;
    cursor: default;
    font-weight: 700;
    height: 46px;
    padding: 0 15px;
    position: relative;
    font-family: sans-serif
}

.sd-header-social .sd-header-phone i {
    color: #fff;
    display: block;
    float: right;
    height: 46px;
    line-height: 46px;
    padding-left: 5px;
}

.sd-header-social .sd-header-phone:hover,
.sd-header-social .sd-header-phone:hover i {
    color: #fff;
}

.header {
    position: relative;
    background: transparent;
    width: 100%;
    z-index: 999;
}

.layout_boxed {
    background: transparent;
    max-width: 100%;
    margin: 0 auto;
}

.layout_boxed,
.bottom_header {
    right: 0;
    left: 0;
    z-index: 999;
}

.white_header nav.navbar.bootsnav.sticked .info-box {
    display: none;
}

header.index4 .info-box {
    float: left;
    margin: 15px 0 15px 30px;
}

.info-box .icons,
.info-box ul {
    display: table-cell;
}

.info-box .icons,
header.index4 .info-box .icons {
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    color: #155ba9;
}

.layout_dark .info-box .icons,
.header-upper.dark .icons {
    color: #fff;
}

.info-box li {
    position: relative;
    line-height: 20px;
    padding-right: 10px;
    font-size: 14px;
    color: #9b9b9b;
}

.layout_boxed nav.navbar.bootsnav {
    background-color: #243c4f;
    color: #fff;
    z-index: 9999
}

.layout_boxed nav.navbar.bootsnav.sticked .navbar-nav {
    float: left;
    margin: 0
}

.layout_boxed .navbar-nav {
    float: left;
    margin-top: 12px
}

.navbar-brand {
    font-size: 17px;
    height: auto;
    line-height: normal;
    padding: 15px 0;
    display: inline-block;
    margin-left: 0 !important;
}

.logo-sm {
    display: none
}

.sticked .logo .logo-sm {
    display: inline-block!important
}

.logo-big {
    display: block!
}

.sticked .logo .logo-big {
    display: none!important
}

.navbar-brand>img {
    width: 100%;
}

.layout_boxed nav.navbar.bootsnav.navbar-sticky .navbar-brand {
    display: none;
}

.layout_boxed nav.navbar.bootsnav.sticked .navbar-brand {
    width: 120px;
    padding: 10px 0;
    display: inline-block;
}

nav.navbar.bootsnav ul.nav>li>a {
    font-size: 15px;
    font-weight: normal;
    padding: 20px 13px;
    color: #fff;
    transition: .3s
}

.layout_boxed nav.navbar .navbar-collapse {
    padding: 0
}

nav.navbar.bootsnav ul.nav>li.dropdown>a.dropdown-toggle::after {
    content: "\f107";
}

header nav.navbar.bootsnav ul.nav>li>a:hover,
header nav.navbar.bootsnav ul.nav>li>a.active {
    color: #cccccc
}

header nav.navbar.bootsnav ul.nav>li:hover a:before,
header nav.navbar.bootsnav ul.nav>li>a:focus::before,
header nav.navbar.bootsnav ul.nav>li.active>a::before {
    opacity: 1;
}

.attr-nav {
    margin-left: 0;
}

.attr-nav>ul>li>a {
    padding: 0;
}

.attr-nav .social_share {
    margin-left: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.navbar-collapse {
    border-top: none;
    box-shadow: none;
}

.layout_boxed nav.navbar.bootsnav.sticked .btn-touch {
    display: none;
}

.wrap-sticky nav.navbar.bootsnav.sticked {
    background-color: rgba(36, 60, 79, .9);
}

.suppa_search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    background-color: rgba(36, 60, 79, .9);
    margin: 0;
    display: none
}

.suppa_search form {
    width: 70% !important;
    left: 15%;
    padding: 15px 30px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    font-weight: bold;
}

.suppa_search .form-control {
    height: 60px
}

.suppa_search .suppa_close {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    height: 60px !important;
    color: rgba(12, 152, 190, 1) !important;
    font-size: 50px !important;
    position: absolute;
    top: 18px;
    left: 38px;
    cursor: pointer
}


/*DropDowns*/

nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
    border: none;
    margin: 0;
    min-width: 210px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu>li>a {
    border: none;
    font-weight: normal;
    padding: 10px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu>li>a:hover,
nav.navbar.bootsnav li.dropdown ul.dropdown-menu>li>a:focus {
    background: #2e495f;
    color: #fff !important;
}

nav.bootsnav .megamenu-content .title {
    font-size: 16px;
    color: #1f1f1f;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a {
    color: #2c3e50;
    margin-bottom: 10px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:before {
    content: '\f104';
    font-family: 'FontAwesome';
    margin-left: 5px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover,
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:focus {
    color: #155ba9;
}

.megamenu-content.bg {
    background: url("../images/nav-bg.png") no-repeat scroll center bottom / cover !important;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content.bg .col-menu {
    border: none !important;
}


/*end header*/


/*Start  Slider*/

#rev_slider_third h2 {
    font-size: 28px;
    color: #fff;
    margin-top: 0 !important;
}

.tparrows.tp-leftarrow {
    background: url(../images/arrow-left.png) no-repeat;
}

.tparrows.tp-rightarrow {
    background: url(../images/arrow-right.png) no-repeat;
}

.tp-bannertimer {
    background: rgba(255, 255, 255, 0.5)
}


/*ends  Slider */


/*Start About us*/

.btn-emara {
    width: 100%;
    height: 43px
}

.about-title {
    text-align: center;
    background: url(../images/grey-line.png) center repeat-x;
    margin-bottom: 45px
}

.about-title h1 {
    padding: 0 30px;
    display: inline-block;
    margin: 0;
    background: #fff
}

.about-us p {
    margin-top: 30px
}

.about-us p span {
    color: #155ba9;
    font-size: 20px;
}

.lend {
    text-align: justify;
    line-height: 160%;
}


/* Start About us*/

.custom-image-style-1 {
    position: relative;
    z-index: 2;
}

svg#curved-line-1 {
    position: absolute;
    top: -37px;
    left: 10px;
    width: 100%;
    height: 180%;
    opacity: .3
}


/*End About us*/


/*Start Services*/

.project-studies .about-title h1 {
    background: #243c4f;
    color: #fff
}

body section.row,
body header.row,
body footer.row {
    margin: 0;
    position: relative;
    direction: ltr!important
}

.study-block .block-inner {
    border-color: #fff!important;
    background: #fff!important;
}

.project-studies {
    background: #eaf4fd;
}

.study-block .block-inner {
    border-color: #fff;
    background: #fff;
}

.study-block .rotate-back {
    background: #fff;
}

@media (max-width: 639px) {
    .project-studies {
        padding-bottom: 50px;
    }
}

.project-studies:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* height: -webkit-calc(50% + 15px);
    height: calc(50% + 15px); */
    height: 100%;
    background: #243c4f;
    z-index: 0;
}

@media (max-width: 1199px) {
    .project-studies:before {
        height: -webkit-calc(50% + 127px);
        height: calc(50% + 127px);
    }
}

@media (max-width: 991px) {
    .project-studies:before {
        height: -webkit-calc(50% + 125px);
        height: calc(50% + 125px);
    }
}

@media (max-width: 767px) {
    .project-studies:before {
        height: -webkit-calc(50% + 123px);
        height: calc(50% + 123px);
    }
}

@media (max-width: 639px) {
    .project-studies:before {
        height: 100%;
    }
}

.project-studies.style2 {
    padding: 110px 0 90px;
}

.project-studies.style2:before {
    height: 100%;
}

.project-studies .container {
    z-index: 1;
    position: relative;
}

.project-studies-box {
    padding-top: 23px;
}

.studies-blocks {
    margin: 0 auto; 
    overflow: hidden;
}

@media (max-width: 1199px) {
    .studies-blocks {
        width: 840px;
        height: 840px;
        padding-top: 114px;
    }
}

@media (max-width: 991px) {
    .studies-blocks {
        width: 728px;
        height: 728px;
        padding-top: 97px;
    }
}

@media (max-width: 767px) {
    .studies-blocks {
        width: 637px;
        height: 637px;
        padding-top: 84px;
    }
}

@media (max-width: 639px) {
    .studies-blocks {
        width: 100%;
        height: auto;
        padding-top: 0;
    }
}

.studies-blocks .blocks-box {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

@media (max-width: 1199px) {
    .studies-blocks .blocks-box {
        width: 614px;
        height: 614px;
    }
}

@media (max-width: 991px) {
    .studies-blocks .blocks-box {
        width: 534px;
        height: 534px;
    }
}

@media (max-width: 767px) {
    .studies-blocks .blocks-box {
        width: 470px;
        height: 470px;
    }
}

@media (max-width: 639px) {
    .studies-blocks .blocks-box {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        height: auto;
    }
}

@media (max-width: 479px) {
    .studies-blocks .blocks-box {
        width: auto;
    }
}

.study-block {
    margin: 10px;
    width: 180px;
    height: 180px;
    float: left;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
}

@media (max-width: 1199px) {
    .study-block {
        width: 287px;
        height: 287px;
    }
}

@media (max-width: 991px) {
    .study-block {
        width: 247px;
        height: 247px;
    }
}

@media (max-width: 767px) {
    .study-block {
        width: 215px;
        height: 215px;
    }
}

@media (max-width: 479px) {
    .study-block {
        margin: 10px auto;
        float: none;
    }
}

.study-block .block-inner {
    margin: 0;
    border: 6px solid;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.study-block .rotate-back {
    -webkit-transform: rotate(-45deg) translateY(-21%);
    -ms-transform: rotate(-45deg) translateY(-21%);
    transform: rotate(-45deg) translateY(-21%);
    width: 230px;
    height: 230px;
    margin: auto;
    position: relative;
    left: 1px;
    
    cursor: pointer;
}

@media (max-width: 1199px) {
    .study-block .rotate-back {
        width: 390px;
        height: 390px;
    }
}

@media (max-width: 991px) {
    .study-block .rotate-back {
        width: 334px;
        height: 334px;
    }
}

@media (max-width: 767px) {
    .study-block .rotate-back {
        width: 288px;
        height: 288px;
    }
}

.study-block .bg-img {
    height: 118px;
    overflow: hidden;
    margin: 0 auto;
    background: #243c4f
}

@media (max-width: 1199px) {
    .study-block .bg-img {
        height: 195px;
    }
}

@media (max-width: 991px) {
    .study-block .bg-img {
        height: 167px;
    }
}

@media (max-width: 767px) {
    .study-block .bg-img {
        height: 144px;
    }
}

.study-block .shot {
    position: relative;
    left: 50%;
    top: 30px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    max-height: 100%;
}

.study-block .study-about {
    margin: 0;
    text-align: center;
}

.study-block .study-about .client-logo {
    line-height: 75px;
    margin-top: 30px;
    margin-bottom: 12px;
}

@media (max-width: 1199px) {
    .study-block .study-about .client-logo {
        line-height: 55px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 991px) {
    .study-block .study-about .client-logo {
        line-height: 35px;
        margin-top: 22px;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .study-block .study-about .client-logo {
        margin-top: 22px;
        margin-bottom: 5px;
    }
}

.study-block .study-about .client-logo img {
    max-height: 75px;
}

@media (max-width: 1199px) {
    .study-block .study-about .client-logo img {
        max-height: 55px;
    }
}

@media (max-width: 991px) {
    .study-block .study-about .client-logo img {
        max-height: 35px;
    }
}

.study-block .study-about .this-case {
    margin: 0;
    font-size: 16px;
}

.study-blocks2 {
    padding-top: 9px;
}

@media (max-width: 599px) {
    .study-block-carousel {
        max-width: 360px;
        margin: 0 auto;
    }
}

.study-block-carousel .owl-dots {
    display: table;
    margin: 25px auto 0;
}

.study-block-carousel .owl-dot {
    float: left;
    width: 13px;
    height: 13px;
    border: 1px solid;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.study-block-carousel .owl-dot+.owl-dot {
    margin-left: 12px;
}

.study-block-carousel .owl-dot.active {
    border-width: 2px;
}

.study-block2 {
    padding: 15px;
}

.study-block2 .inner {
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
    margin: 0;
    -webkit-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}

.study-block2 .inner img {
    max-width: 100%;
    width: auto;
    display: inline-block;
}

.study-block2 .inner:hover,
.study-block2 .inner:focus {
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.22);
}

.study-block2 .this-title {
    position: relative;
    margin: 0;
    padding: 25px 20px;
    text-align: center;
}

.study-block2 .title-text {
    line-height: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
}

.study-block2 .target-page {
    position: absolute;
    width: 49px;
    height: 49px;
    -webkit-box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 0.087px 0.996px 5px 0px rgba(0, 0, 0, 0.22);
    line-height: 49px;
    top: -24.5px;
    right: 20px;
    border-radius: 100%;
}

.study-block2 .target-page:hover,
.study-block2 .target-page:focus {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media (max-width: 767px) {
    .study-block2.style2 {
        max-width: 385px;
        margin: 0 auto;
    }
}

.study-block:first-child,.study-block:last-child{
    box-shadow: none;
}

* {
    /* outline: 3px solid red; */
}


/*  */
/*  */
.selecteds .studies-blocks {
    padding-top: 136px;
    transition: .9s
}

.blocks {
    height: 400px;
    border: 5px solid #fff;
    /* position: absolute; */
    top: 171px;
    right: -500px;
    /* left: 0;
    right: 0; */
    background: #243c4f;
    display: none;
    transition: .8s ease-in-out
}


/*End Services*/

